:root {
  --color-background-main: #272727;
  --color-background-secondary: #333333;
  --color-background-light: #ffffff;
  --color-foreground-main: #ffffff;
  --color-foreground-dark: #000000;
  --color-foreground-link: #4e8cda;

  --fonts-main: "Ubuntu", sans-serif;
}