:root {
  --color-background-primary: #272727;
  --color-background-secondary: #333333;
  --color-foreground: #ffffff;
  --color-accent: #4285f4;

  --fonts: "Ubuntu", sans-serif;
  --transition: background 0.1s ease-in-out, border 0.1s ease-in-out;
  --border-radius: 1px;
}